<tr data-location="" class="property-location-item" data-state='{{location.state}}' data-city='{{location.city}}' data-district='{{location.district}}'>
  <td class="property-location-item-label">
    {{label}}
  </td>
  <td>
    <a href="javascript:void(0);" class="property-location-item-remove pull-right"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
  </td>
</tr>