<span class="hidden-sm hidden-xs">{{nome}} <i class="fa fa-angle-down"></i></span>
<img src="{{imagem}}" class="user-image" alt="{{nome}}" height="22" width="22">

<div class="account-dropdown">
  <ul>
    <li><a href="{{base_url}}minha-conta"> <i class="fa fa-user"></i>Minha conta</a></li>
    <li><a href="{{base_url}}minha-conta/favoritos"> <i class="fa fa-heart"></i>Imóveis favoritos</a></li>
    <li><a href="{{base_url}}minha-conta/minhas-buscas"> <i class="fa fa-search-plus"></i>Minhas buscas</a></li>
    <li><a href="{{base_url}}minha-conta/logout"> <i class="fa fa-unlock"></i>Sair</a></li>
  </ul>
</div>
