<span class="hidden-sm hidden-xs">{{nome}} <i class="fa fa-angle-down"></i></span>
<img src="{{imagem}}" class="user-image" alt="{{nome}}" height="22" width="22">

<div class="account-dropdown">
  <ul>
    <li> <a href="my-account.html"> <i class="fa fa-user"></i>My profile</a></li>
    <li> <a href="my-properties.html"> <i class="fa fa-building"></i>My Properties</a></li>
    <li> <a href="add-new-property.html"> <i class="fa fa-plus-circle"></i>Add new property</a></li>
    <li> <a href="my-favourite-properties.html"> <i class="fa fa-heart"></i>Favourite properties</a></li>
    <li> <a href="my-saved-search.html"> <i class="fa fa-search-plus"></i>Saved searches</a></li>
    <li> <a href="my-invoices.html"> <i class="fa fa-file"></i>Invoices</a></li>
    <li><a href="{{base_url}}minha-conta/logout"> <i class="fa fa-unlock"></i>Sair</a></li>
  </ul>
</div>